@import url("https://api.fontshare.com/css?f[]=cabinet-grotesk@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Source+Sans+Pro:wght@200;600&display=swap');

/* FONT STYLE */

.Cabinet-Grotesk-20 {
  font-family: 'Cabinet Grotesk', sans-serif;
  font-family: Cabinet Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}

.source-sans-110 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 110px;
  line-height: 120px;
  text-align: center;
}

.source-sans-16 {
  font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 27px;
}

.source-sans-18 {
  font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
}

.source-sans-22 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;

}

.source-sans-24 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  /* text-align: center; */
}

.source-sans-26 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  /* text-align: center; */
}

.source-sans-28 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 20px;
  /* text-align: center; */
}

.source-sans-44 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 55px;
  /* text-align: center; */

}

.source-sans-48 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
}

.source-sans-68 {
  font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 68px;
line-height: 85px;
}

.cabinet-grotesk-16 {
  font-family: Cabinet Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 16.055px;
  line-height: 20px;
}

.cabinet-grotesk-32 {
  font-family: Cabinet Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 32.1101px;
  line-height: 40px;
}

.julius-sans-one-44 {
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 60px;
  /* text-align: center; */
  letter-spacing: 0.01em;
}

/* COLORS */

.orange-bgcolor {
background: #F58229;
}

.grey-color {
  color: gray;
}

.orange-color {
  color: #F58229;
  }


  .fade-orange-color {
    color: #f1b485;
  }


  .bg-black {
    background-color: #000;
  }

  /* NAVBAR */

  .nav-link:focus, .nav-link:active, .nav-link:hover  {
    color:#F58229 !important;
    border-bottom: 2px #F58229 solid !important;
    font-weight: 600;
 }

 /* animation effect */
 .card-hover:hover {
   transform: scale(1.03) !important;
   
 }



/* BACKGROUND IMAGE */

.bg-pic {
  background-image: url("img/Group 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 680px;
  /* width: 1320px !important; */
}

.bg-pic-heading {
  margin-top: 100px;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .bg-pic {
      background-image: url('img/Group 1.png');
      background-size: cover;
      background-repeat: no-repeat;
      height: 550px !important;
      }

      .source-sans-md-70 {
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 70px;
        line-height: 80px;
        text-align: center;
      }
      
      .source-sans-md-18 {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
      }

      .image {
        width: 50px;
        height: 50px;
      }

      .margin-20 {
        margin-left: 20px !important;
      }

      /* animation effect */
 .card-hover:hover {
  transform: scale(1.03) !important;
  
}

      
  /* navbar */
  .nav-link:focus, .nav-link:active, .nav-link:hover  {
    color:#000 !important;
    border-bottom: 2px #ffffff solid !important;
    font-weight: normal ;
 }
}


@media only screen and (max-width: 600px) {

  /* MARGIN */
  .mt-1 {
    margin-top: 3px !important;
  }

  .mb-1 {
    margin-bottom: 3px !important;
  }

  .mr-1 {
    margin-right: 3px !important;
  }

  .ml-1 {
    margin-right: 3px !important;
  }

  .ml-2 {
    margin-left: 6px !important;
  }

  .mr-2 {
    margin-right: 6px !important;
  }

  .mt-2 {
    margin-top: 6px !important;
  }

  .mb-2 {
    margin-bottom: 6px !important;
  }

  .ml-3 {
    margin-left: 9px !important;
  }

  .mr-3 {
    margin-right: 9px !important;
  }

  .mt-3 {
    margin-top: 9px !important;
  }

  .mb-3 {
    margin-bottom: 9px !important;
  }

  .ml-4 {
    margin-left: 12px !important;
  }

  .mr-4 {
    margin-right: 12px !important;
  }

  .mt-4 {
    margin-top: 12px !important;
  }

  .mb-4 {
    margin-bottom: 12px !important;
  }

  .ml-5 {
    margin-left: 15px !important;
  }

  .mr-5 {
    margin-right: 15px !important;
  }

  .mt-5 {
    margin-top: 15px !important;
  }

  .mb-5 {
    margin-bottom: 15px !important;
  }

  /* PADDING */

  .pl-1 {
    padding-left: 3px !important;
  }

  .pr-1 {
    padding-right: 3px !important;
  }

  .pt-1 {
    padding-top: 3px !important;
  }

  .pb-1 {
    padding-bottom: 3px !important;
  }

  .pl-2 {
    padding-left: 6px !important;
  }

  .pr-2 {
    padding-right: 6px !important;
  }

  .pt-2 {
    padding-top: 6px !important;
  }

  .pb-2 {
    padding-bottom: 6px !important;
  }

  .pl-3 {
    padding-left: 9px !important;
  }

  .pr-3 {
    padding-right: 9px !important;
  }

  .pt-3 {
    padding-top: 9px !important;
  }

  .pb-3 {
    padding-bottom: 9px !important;
  }

  .pl-4 {
    padding-left: 12px !important;
  }

  .pr-4 {
    padding-right: 12px !important;
  }

  .pt-4 {
    padding-top: 12px !important;
  }

  .pb-4 {
    padding-bottom: 12px !important;
  }

  .pl-5 {
    padding-left: 15px !important;
  }

  .pr-5 {
    padding-right: 15px !important;
  }

  .pt-5 {
    padding-top: 15px !important;
  }

  .pb-5 {
    padding-bottom: 15px !important;
  }

  /* BACKGROUND IMAGE */
  .bg-pic {
    background-image: url("img/Group 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 340px !important;
  }

  .bg-pic-heading {
    margin-top: 0px;
  }

  /* FONT STYLE */
  .source-sans-sm-12 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 12px;
  }

  .source-sans-12 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 12px;
  }

  .source-sans-14 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: -20px !important;
  }

  .source-sans-sm-16 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 16px;
  }


  .source-sans-20 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 20px;
  }

  .margin-none {
    margin-left: -20px;
  }

  .padding-none {
    padding: -20px !important;
  }

  .source-sans-sm-22 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 22px;
    font-weight: 900;
    line-height: 28px;
  }

  .source-sans-sm-45 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    padding-top: 25px !important;
  }

  .source-sans-45 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
  }

  .font-sm-10 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-family: Cabinet Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 20px;
  }

  .font-sm-12 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-family: Cabinet Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
  }

  .font-sm-14 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-family: Cabinet Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* line-height: 10px; */
  }

  .font-sm-16 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-family: Cabinet Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* line-height: 20px; */
  }

  .font-sm-20 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-family: Cabinet Grotesk;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding-top: 10px;
  }

  .julius-sans-one-22 {
    font-family: 'Julius Sans One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.01em;
  }

  .source-sans-sm-30 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
  }

  .source-sans-34 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 60px;
  }

  .source-sans-40 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
  }

  /* navbar */
  .nav-link:focus, .nav-link:active, .nav-link:hover  {
    color:#000 !important;
    border-bottom: 2px #ffffff solid !important;
    font-weight: normal ;
 }
/*   
  .parent-row {
    padding-left: 35px;
  } */

  .image {
    width: 30px;
    height: 30px;
  }

  .icon {
    display: none;
  }


  footer {
    margin: 0px !important;
    padding: 0px !important;  
  }

  .center-align {
    margin: 0px auto !important;
    text-align: center !important;
  }

  .what-we-do-col {
    padding-left: 0px !important;
  }

  .focus-area-img {
    height: 240px !important;
    width: 240px !important;
  }
  

}