@import url("https://api.fontshare.com/css?f[]=cabinet-grotesk@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Source+Sans+Pro:wght@200;600&display=swap');

/* FONT STYLE */

.Cabinet-Grotesk-20 {
  font-family: 'Cabinet Grotesk', sans-serif;
  font-family: Cabinet Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}

.source-sans-110 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 110px;
  line-height: 120px;
  text-align: center;
}

.source-sans-22 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;

}

.source-sans-24 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.source-sans-26 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
}

.source-sans-16 {
  font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 145.7%;
}

.source-sans-44 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 55px;
  text-align: center;

}

.source-sans-48 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
}

.source-sans-68 {
  font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 68px;
line-height: 85px;
}

.cabinet-grotesk-16 {
  font-family: Cabinet Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 16.055px;
  line-height: 20px;
}

/* .cabinet-grotesk-19 {
  font-family: Cabinet Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 20px;
} */


.cabinet-grotesk-32 {
  font-family: Cabinet Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 32.1101px;
  line-height: 40px;
}

.julius-sans-one-44 {
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.01em;
}

.orange-bgcolor {
background: #F58229;
}

.grey-color {
  color: gray;
}

.orange-color {
  color: #F58229;
  }


  .fade-orange-color {
    color: #f1b485;
  }


  .bg-black {
    background-color: #000;
  }

.bg-pic {
  background-image: url("img/Group 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 680px;
  width: 1320px !important;
}

.bg-pic-heading {
  margin-top: 100px;
}

.row-size {
  width: 1200px;
}

.featured-col-1 {
  background-image: url("img/Rectangle 7.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 240px;
  width: 360px !important;
}

.featured-col-2 {
  background-image: url("img/Rectangle 7 (1).png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 240px;
  width: 360px !important;
}

.featured-col-3 {
  background-image: url("img/Rectangle 7 (2).png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 240px;
  width: 360px !important;
}


.what-we-do-col {
  padding-left: 130px;
}


@media only screen and (max-width: 600px) {

  .mt-1 {
    margin-top: 3px !important;
  }

  .mb-1 {
    margin-bottom: 3px !important;
  }

  .mr-1 {
    margin-right: 3px !important;
  }

  .ml-1 {
    margin-right: 3px !important;
  }

  .ml-2 {
    margin-left: 6px !important;
  }

  .mr-2 {
    margin-right: 6px !important;
  }

  .mt-2 {
    margin-top: 6px !important;
  }

  .mb-2 {
    margin-bottom: 6px !important;
  }

  .ml-3 {
    margin-left: 9px !important;
  }

  .mr-3 {
    margin-right: 9px !important;
  }

  .mt-3 {
    margin-top: 9px !important;
  }

  .mb-3 {
    margin-bottom: 9px !important;
  }

  .ml-4 {
    margin-left: 12px !important;
  }

  .mr-4 {
    margin-right: 12px !important;
  }

  .mt-4 {
    margin-top: 12px !important;
  }

  .mb-4 {
    margin-bottom: 12px !important;
  }

  .ml-5 {
    margin-left: 15px !important;
  }

  .mr-5 {
    margin-right: 15px !important;
  }

  .mt-5 {
    margin-top: 15px !important;
  }

  .mb-5 {
    margin-bottom: 15px !important;
  }

  .pl-1 {
    padding-left: 3px !important;
  }

  .pr-1 {
    padding-right: 3px !important;
  }

  .pt-1 {
    padding-top: 3px !important;
  }

  .pb-1 {
    padding-bottom: 3px !important;
  }

  .pl-2 {
    padding-left: 6px !important;
  }

  .pr-2 {
    padding-right: 6px !important;
  }

  .pt-2 {
    padding-top: 6px !important;
  }

  .pb-2 {
    padding-bottom: 6px !important;
  }

  .pl-3 {
    padding-left: 9px !important;
  }

  .pr-3 {
    padding-right: 9px !important;
  }

  .pt-3 {
    padding-top: 9px !important;
  }

  .pb-3 {
    padding-bottom: 9px !important;
  }

  .pl-4 {
    padding-left: 12px !important;
  }

  .pr-4 {
    padding-right: 12px !important;
  }

  .pt-4 {
    padding-top: 12px !important;
  }

  .pb-4 {
    padding-bottom: 12px !important;
  }

  .pl-5 {
    padding-left: 15px !important;
  }

  .pr-5 {
    padding-right: 15px !important;
  }

  .pt-5 {
    padding-top: 15px !important;
  }

  .pb-5 {
    padding-bottom: 15px !important;
  }


  .bg-pic {
    background-image: url("img/Group 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px !important;
    width: 360px !important;
    margin-left: -15px !important;
  }

  .bg-pic-heading {
    margin-top: 0px;
  }

  .source-sans-12 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 12px;
    /* font-weight: 800; */
    text-align: left !important;
  }

  .source-sans-14 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 14px;
    /* font-weight: 800; */
    /* text-align: center; */
  }


  .source-sans-20 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 20px;
    /* text-align: center; */
  }

  .margin-none {
    margin: -20px;
  }

  .source-sans-22 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 22px;
    font-weight: 900;
    line-height: 28px;
    text-align: center;
  }

  .source-sans-40 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    padding-top: 25px !important;
  }

 

  .font-sm-10 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-family: Cabinet Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 20px;
  }

  .font-sm-12 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-family: Cabinet Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
  }

  .font-sm-14 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-family: Cabinet Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }

  .font-sm-16 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-family: Cabinet Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }

  .font-sm-20 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-family: Cabinet Grotesk;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding-top: 10px;
  }

  .julius-sans-one-22 {
    font-family: 'Julius Sans One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.01em;
  }

  .source-sans-34 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 60px;
  }

  .row-size {
    width: 300px;
  }
  .parent-row {
    padding-left: 35px;
  }

  .image {
    width: 30px;
    height: 30px;
  }

  .icon {
    display: none;
  }


  footer {
    margin: 0px !important;
    padding: 0px !important;  
  }
  .featured-col-1 {
    background-image: url("img/Rectangle 7.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 230px !important;
  }

  .featured-col-2 {
    background-image: url("img/Rectangle 7 (1).png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 230px !important;
  }

  .featured-col-3 {
    background-image: url("img/Rectangle 7 (2).png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 240px !important;
  }

  .center-align {
    margin: 0px auto !important;
    text-align: center !important;
  }

  .who-are-we-img {
    height: auto; 
    width: 230px;
  }

  .what-we-do-img {
    height: auto; 
    width: 230px;
  }

  .what-we-do-col {
    padding-left: 0px !important;
  }

  .who-are-we-img {
    height: auto;
    width: 300px;

  }

  .focus-area-img {
    height: 240px !important;
    width: 240px !important;
  }

  /* .focus-area-col-2 {
    background-image: url("img/Frame 6.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 240px;
    width: 240px !important;
  }

  .focus-area-col-3 {
    background-image: url("img/Rectangle 7 (3).png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 240px;
    width: 240px !important;
  }

  .focus-area-col-4 {
    background-image: url("img/Frame 8.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 240px;
    width: 240px !important;
  }

  .focus-area-col-5 {
    background-image: url("img/Frame 9.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 240px;
    width: 240px !important;
  }

  .focus-area-col-6 {
    background-image: url("img/Frame 10.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 240px;
    width: 240px !important;
  } */

  /* .fade-orange-box {
    background-color: #f8ece2;
    height: auto;
  } */
}